:root{
/* Primary */
--cyan: hsl(179, 62%, 43%)
--brightYellow: hsl(71, 73%, 54%)
/* Neutral */
--lightGray: hsl(204, 43%, 93%)
--grayishBlue: hsl(218, 22%, 67%)
}

html,
body {
    height: 100%;
    font-family: 'Karla', sans-serif;;
}

.attribution {
 font-size: 11px;
 text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%);
}
